body {
    background-image: url("thumb-1920-488572.jpg");
    text-align: center;
    color: white;
}
p{
    color: black;
    font-family: Calibri;
}

h1{
    color: black;
    font-family: Calibri;
    border: dotted;
}

input {
    width: 50px;
    padding: 5px;
}

form{
    text-align: center;
    height: 10px
}

#conteudo{
border: black;
}

#formulario{

}

