body {
    background-image: url("thumb-1920-488572.jpg");
    text-align: center;
    color: white;
}

h1{
    color: black;
    font-family: Calibri;
}

input {
    width: 50px;
}

form{
    text-align: center;
    border-left: solid black;
    width: 1%;
}

#conteudo{
    border: black;
}
